.header {
    background-color: #4a148c;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .header p {
    font-size: 14px;
    color: #e0e0e0;
  }